///Funtes
$fuente_principal: 'Raleway', sans-serif;
$fuente_segundaria: 'Roboto', sans-serif;
$fuente_cursiva: 'Bona Nova', serif;


//Media Queries
$telefono: 480px;
$tablet: 769px;
$desktop: 1024px;



//Colores
$primario: #5E311B;
$segundario: #c39c63;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;


//Unidades
$separacion: 5rem;



